/.github @stefaniuk
/.vscode @stefaniuk
/build @stefaniuk
/deployment @stefaniuk
/documentation @stefaniuk
/infrastructure @stefaniuk
/.editorconfig @stefaniuk
/.gitignore @stefaniuk
/Makefile @stefaniuk
/*.md @stefaniuk
/*.code-workspace.template @stefaniuk
